
BridgeDesignPattern/.vs/BridgeDesignPattern/v16/.suo
BridgeDesignPattern/BridgeDesignPattern/bin
BridgeDesignPattern/BridgeDesignPattern/obj
BridgeDesignPattern/BridgeDesignPattern.sln
BridgeDesignPattern/BridgeDesignPattern/BridgeDesignPattern.csproj
